<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Properties allow for reusable values throughout the configuration -->
    <!-- %d: date, %thread: thread name, %-5level: 5-char justified level, %logger: class name, %msg: log message -->
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <!-- ConsoleAppender outputs logs directly to System.out or System.err -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Encoders translate events into byte arrays and write them to output streams -->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- Root logger is the top-level logger that acts as a fallback for all log messages -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>