<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Pattern including %marker to show the tag if present -->
    <property name="PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%marker] - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 1. MarkerFilter example: Suppress logs marked as 'CONFIDENTIAL' -->
    <appender name="SECURITY_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.MarkerFilter">
            <marker>CONFIDENTIAL</marker>
            <onMatch>DENY</onMatch>
            <onMismatch>NEUTRAL</onMismatch>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [SECURE] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Root logger -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="SECURITY_CONSOLE" />
    </root>

</configuration>